table div.truerss-middle {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
table div.truerss-middle input {
  margin: 6% 0 6% 0;
}

/*nav div ul li a,*/
nav div ul li i {
  cursor: pointer !important;
}

#source-button {
  margin-left: 6%;
  margin-top: 3%;
  width: 100%;
}

i.favorite {
   cursor: pointer !important;
}

i.unfavorite {
   cursor: pointer !important;
   color: #f8b200;
}

dl.favorites {
  margin-top: 1%;
}

input.custom-input {
    width: 90%;
}

#feeds li a {
    color: #000000;
}

#feeds li a:visited {
    color: #828282;
}
