project/project
project/target
target

*.class
*.log

.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.idea/*
.idea_modules/*
.idea/
.idea_modules/
.scala_dependencies
.worksheet
.settings/
.classpath
.project
.cache
logs/
src/main/resources/javascript/**/*.js
src/main/resources/css
src/main/resources/templates
src/main/resources/images