project/project
project/target
*.jar
output*
*.class
*.log
.history
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.idea/*
.idea_modules/*
.idea/
.idea_modules/
.scala_dependencies
.worksheet
.settings/
.classpath
.project
.cache
logs/
src/main/resources/javascript/**/*.js
src/main/resources/css
src/main/resources/images
src/main/resources/fonts
truerss.db
*.tdb
Gemfile.lock
.java-version
.bsp