<% for (i = 0; i < feeds.length; i ++) { %>
    <% if (i == 0 ) { %>
        <div class="uk-section custom-padding">
    <% } else { %>
        <div class="uk-section custom-padding mt3">
    <% } %>
        <div uk-grid>
            <span class="uk-text-light uk-text-large uk-width-expand">
              <%= feeds[i].title %>
            </span>
            <span class="uk-text-light uk-text-right uk-text-large uk-width-auto custom-padding-top-3">
                <% if (feeds[i].favorite) { %>
                    <a data-feed-id="<%= feeds[i].id %>" href="#"
                       class="unfavorite" title="remove from favorites" uk-icon="star"></a>
                <% } else {  %>
                    <a  data-feed-id="<%= feeds[i].id %>" href="#"
                        class="favorite" title="mark as favorite" uk-icon="star"></a>
                <% } %>
            </span>
        </div>
    </div>
<% } %>