<% for(var i = 0; i < feeds.length; i++) { %>
  <li>
    <a class='feed-link' href="<%= feeds[i].href() %>" data-feed-id="<%= feeds[i].id() %>">
      <%= feeds[i].title() %>
    </a>
  </li>
<% } %>


