<article class="uk-article">
    <h1 class="uk-article-title">Feed List</h1>
    <p class="uk-article-lead">
      <ul class="uk-list">
          <% for (i = 0; i < feeds.length; i ++) { %>
            <li><a href="<%= feeds[i].href() %>">
                <%= feeds[i].title() %>
            </a></li>
          <% } %>
      </ul>
    </p>
</article>