<div class="tm-main uk-width-medium-3-4">
    <article class="uk-article">

        <h1 class="uk-article-title"><%= feed.title() %></h1>

        <hr class="uk-article-divider">

        <p><%= feed.description() %></p>

    </article>

</div>