<li id="source-<%= source.id() %>">
    <span class="uk-text-left">
      <a href="<%= source.href() %>">
        <%= source.name() %>
      </a>
    </span>
    <span class="uk-badge uk-float-right uk-margin-small-right
        uk-badge-notification uk-text-right source-count">
        <%= source.count() %></span>
</li>
